<h3 class="col-md-10 col-md-offset-1">Here on the advanced search page, you can enter what ingredients you have and find out what fun recipes you can make. Start by using the dropdown menus to select what alcohols/mixers you have.</h3>

<div class="container-fluid">
	<%= form_tag("/drinks/adv_result", method: "post") do %>
		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Spirits
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @spirits.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>	

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Mixers
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @mixers.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Vodka
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @vodka.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rum
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @rum.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Brandy
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @brandy.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Whiskey
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @whisky.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Gin
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @gin.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tequila
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @tequila.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>
		
		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Spices & Herbs
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @spices_herbs.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>
		
		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Fruits
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @fruits.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Berries
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @berries.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Ice
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @ice.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Decorations
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @decoration.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Others
		    <span class="caret"></span></button>
			<ul class="dropdown-menu">
			<% @others.each do |s| %>
				<li><%= check_box_tag('s[]', s) %></li>
				<%= label_tag(:s, s) %>
				<% end %>
			</ul>
		</div>

		<%= submit_tag("submit") %>
	<% end %>
</div>