<h1><%= @current_user.name %>s' Favorites!</h1>


<% @favorites.each do |fav| %>
	<div id="deleteMe">
		<h2> <%= link_to fav.description, fav %> </h2>
		<h3> <%= fav.drink_id %> </h3>
		<p> <%= fav.user_id %> </p>
		<%= link_to 'Delete', fav, :class => 'js-delete-btn btn btn-danger' %>
		<%= link_to 'Add Comment', new_comment_path(fav), :class => 'btn btn-warning add-comm-btn' %>
	</div>
<% end%>



