<body>
        <div class="row">
            <div class="col-lg-12">
            	<br>
                <hr>
                  <h1 class="text-center"><%= @current_user.name %>s' Favorites!</h1>
                <hr>
            </div>
        </div>
        <div class="row">
        <% @favorites.each do |fav| %>
            <div class="col-md-2">
            </div>
	            <div class="results_container col-md-8">
	                <h3> <%= link_to fav.img, fav %> </h3>
	                <p> <%= fav.description %></p>
	                <%= link_to 'Delete', fav, :class => 'js-delete-btn btn btn-danger' %>
	                <%= link_to 'Add Comment', new_comment_path(fav), :class => 'btn btn-warning add-comm-btn' %>      <hr>
	            </div>
        	<div class="col-md-2">
			</div> 
      	 <% end %>
        </div>
  
   
    <p class="copy_tag">Copyright &copy; DRINKMATE</p>  
</body>