<h1>Add Comment!</h1>

<%= bootstrap_form_for :comments, url: '/comments' do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :drink_id, :value => params[:id]  %>
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.submit "Submit" %>

<% end %>
