<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag 'application', media: "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="application.scss" rel="stylesheet">
  </head>
  
    <title>DRINKMATE</title>
  
  <h5>
    <% if @current_user %>
      Signed in as <%= @current_user.email %> | <%= link_to "Logout", "/logout" %>
    <% else %>
      <%= link_to "Login", "/login" %> | <%= link_to "Signup", "/signup" %>
    <% end %>

    <%= render "partials/flash" %>
​ </h5>

<body>
<!-- navbar-->
<nav class="navbar navbar-inverse" role="navigation">
       <div class="container">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>

               <a class="navbar-brand" href="index.html">DRINKMATE</a>
           </div>
           
           <div class="navbar" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                   
                   <li><a href="/drinks/index">Drinks</a></li>
                   
                   <li><a href="/">About</a></li>
                   
                  <% if @current_user %>
                    <li><a href="/favorites">Favorites</a></li>
                  <% end %>
                    
                    <li><a href="/drinks/adv">Advanced Search</a></li>   
                     
                     <div class="col-sm-3 col-md-3 pull-right">
                        <%= form_tag("/drinks/result", :id => "nav-search", method: "post") do %>
                           <input type="text" class="form-control" placeholder="Drink name" name="srch_term" id="srch-term">
                        <%= submit_tag("submit") %>
                    <% end %>
                  </div>
               </ul>
          </div>
          
       </div>
       <!-- /.container -->
   </nav>

   <%= yield %>

</body>
​</html>
