<div class="row">
    <h1 class="page-title">Search Results</h1>
    <% if @current_user %>
    <% else %>
	    <p><small>Please login/signup to add to your favorites!</small></p>
	<% end %>
</div>
<div>
	<% @drinks.each do |res| %>
		<div class="fav-list-box description">
			<h2 class="drink-name"><a href="/drink/<%= res['id'] %>"><%= res['name']%></a>
			<p><small class="sub-description"> Rating: <%= res['rating'] %></small></p></h2>
			<ul>
				<% res['ingredients'].each do |el| %>
					<li><%= el['textPlain'] %></li>
				<% end %>
			</ul>
			<%= res['descriptionPlain'] %>
		</div>
		<div class="results">
			<%= bootstrap_form_for :favorites, url: '/favorites' do |f| %>
				<%= f.hidden_field :drink_id, :value => res['id']  %>
				<%= f.hidden_field :description, :value => res['descriptionPlain']  %>
				<%= f.hidden_field :img, :value => res['name']  %>
				<% if @current_user %>
			    	<%= f.hidden_field :user_id, :value => @current_user.id %>
			    	<%= f.submit "I like this!", :class => "btn button fav" %>
				<% end %><br><br>
			<% end %>
		</div>
	<% end %>
</div>
