<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" href="../../favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head> 

<title>DRINKMATE</title>

<body>
<!-- Modal -->
 <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
      <div class="container">
      <a href="/" class="drink-mate-logo" style="display: inline;"><div class="brand" style="font-family: Futura; text-align: center;
">Drink<span class="glyphicon glyphicon-glass"></span>Mate</div>
  </a>
        <a class="navbar-brand text-muted" href="#"></a>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
            <% if @current_user %>
  Signed in as <%= @current_user.email %> | <%= link_to "Logout", "/logout" %>
  <% else %>
 <li> <a href="#" data-toggle="modal" data-target="#myModal">Login</a> </li>
 <li> <a href="#" data-toggle="modal" data-target="#myModal2">Signup</a> 
 </li>
<% end %>
    <%= render "partials/flash" %>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">About</a></li>
            <% if @current_user %>
            <li><a href="/favorites">Favorites</a></li>
              <% else %>
              <% end  %>
            <li><a href="/drinks/adv">Advanced Search</a></li>
            <li><a href="/tools">Tools</a></li>
            </ul>

           </div>
       </div>
    </div>
   <%= yield %>
   </div>
</body>
​</html>